.link-icons {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link-icons__item {
  margin: 0 var(--padding-size-1);
}

.link-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-icons__link svg {
  width: 32px;
  height: 32px;
  display: block;
  fill: var(--color-base-1);
  transition: fill var(--time-animation) ease;
}

.link-icons__link svg:hover {
  fill: var(--color-red);
}

.link-icons--social-media {
  grid-area: social-media;
}

.link-icons--social-media .link-icons__link svg {
  width: 24px;
  height: 24px;
}

@media (min-width: 768px) {
  .link-icons--social-media .link-icons__item:first-child {
    margin-left: 0;
  }
}