.plain-text {
  margin: 0;
}

.plain-text--align-center {
  text-align: center;
}

.plain-text--like-title {
  font-family: var(--font-family-sans);
  text-transform: uppercase;
  font-weight: bold;
}