.cover-image {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: cover-image;
}

.cover-image--poem {
  background-repeat: repeat;
  background-size: auto;
  grid-area: none;
  height: var(--height-poem-cover);
  position: absolute;
  top: var(--height-header);
  left: 0;
  z-index: 1;
}

.cover-image::before {
  content: '';
  padding-top: 75%;
  display: block;
}

.cover-image--poem::before {
  display: none;
}

@media (min-width: 640px) {
  .cover-image::before {
    content: '';
    padding-top: 50%;
  }
}

@media (min-width: 1200px) {
  .cover-image--poem {
    top: 0;
  }
}