.button {
  text-align: center;
  margin: var(--padding-base-half) 0;
}

.button__link {
  display: inline-block;
  border: var(--border-button);
  border-radius: var(--border-radius-button);
  font-family: var(--font-family-sans);
  font-weight: bold;
  color: var(--color-base);
  padding: var(--padding-button);
  text-transform: uppercase;
  text-decoration: none;
  transition:
    background-color var( --time-animation) ease,
    color var(--time-animation) ease;
}

.button__link:hover {
  background-color: var(--color-red);
  color: var(--color-white);
}
