.tile-big {
  position: relative;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--color-white);
}

.tile-big::before {
  content: '';
  padding-top: 100%;
  display: block;
}

@media (min-width: 640px) {
  .tile-big--front-page-post:first-of-type,
  .tile-big--front-page-post:nth-of-type(2n):last-of-type {
    grid-column: 1 / span 2;
  }

  .tile-big--front-page-post:first-of-type::before,
  .tile-big--front-page-post:nth-of-type(2n):last-of-type::before {
    padding-top: 50%;
  }
}

.tile-big__link {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  top: 0;
  left: 0;
  color: inherit;
  text-decoration: none;
  transition: background-color var(--time-animation) ease;
}

.tile-big__link:hover {
  background-color: var(--tile-color-hover);
}

.tile-big__audiobook {
  position: absolute;
  z-index: 0;
  top: var(--audiobook-batch-position);
  right: var(--audiobook-batch-position);
  width: var(--audiobook-batch-size);
  height: var(--audiobook-batch-size);
  background-color: var(--color-red);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile-big__audiobook svg {
  width: var(--audiobook-batch-image-size);
  height: var(--audiobook-batch-image-size);
}

.tile-big__wrapper {
  background-color: var(--tile-color-wrapper);
  padding: var(--padding-base-half);
  box-sizing: border-box;
  width: 100%;
  font-family: var(--font-family-sans);
  text-align: right;
  text-transform: uppercase;
  transition: background-color var(--time-animation) ease;
}

.tile-big__title {
  margin: 0;
  font-size: var(--font-size-base-double);
  line-height: 1em;
}

.tile-big__category {
  margin: var(--padding-base-quarter) 0;
  line-height: 0.9em;
}

.tile-big__line {
  display: block;
  height: var(--height-red-line);
  width: var(--width-red-line-double);
  margin: var(--padding-base-half) 0 var(--padding-base-half) auto;
  border: 0;
  background-color: var(--color-red);
}

.tile-big__meta {
  margin: var(--padding-base-quarter) 0 0;
  line-height: 0.9em;
  display: block;
}
