.title-section {
  font-size: var(--font-size-base-double);
  font-family: var(--font-family-sans);
  font-weight: bold;
  text-transform: uppercase;
  margin: var(--padding-base-double) auto var(--padding-base-half);
  line-height: 1em;
  text-align: center;
  width: 100%;
}

.title-section::after {
  content: '';
  display: block;
  height: var(--height-red-line);
  width: var(--width-red-line);
  background-color: var(--color-red);
  margin: var(--padding-base-half) auto 0;
}

.title-section--no-margin-bottom {
  margin-bottom: 0;
}
