.drawer-button {
  appearance: none;
  padding: 0;
  height: var(--height-header);
  width: var(--height-header);
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    background-color var(--time-animation) ease;
}

.drawer-button svg {
  transition: fill var(--time-animation) ease;
  height: 24px;
  width: 24px;
  display: block;
  fill: var(--color-base-1);
}

.drawer-button:hover,       
.drawer-button--active {
  background-color: var(--color-accent-1);
}

.drawer-button:hover svg,
.drawer-button--active svg {
  fill: var(--color-white);
}

.drawer-button--sidebar {
  display: none;
}

@media (min-width: 1200px) {
  .drawer-button--sidebar {
    display: flex;
    grid-area: button-settings;
    height: 24px;
    width: 24px;
    background-color: transparent;
  }

  .drawer-button--sidebar:hover {
    background-color: transparent;
  }

  .drawer-button--sidebar.drawer-button--active svg,
  .drawer-button--sidebar:hover svg {
    fill: var(--color-accent-1);
  }
}