.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  height: var(--height-header);
  background-color: var(--color-contra-2);
  width: 100%;
}

.header__inner {
  display: grid;
  grid-template-columns: var(--height-header) auto var(--height-header);
}

.header__logo {
  margin: 0 auto;
  max-width: var(--max-width-body);
}

@media (min-width: 1200px) {
  .header {
    display: none;
  }
}