.embed-soundcloud {
  padding: 0 var(--embed-soundcloud-padding) var(--embed-soundcloud-padding);
  background-color: var(--color-red);
  max-width: var(--max-width-content);
  width: 100%;
  margin: var(--padding-base) auto;
  box-sizing: border-box;
}
    
.embed-soundcloud__text {
  text-transform: uppercase;
  font-family: var(--font-family-sans);
  color: white;
  margin: 0;
  padding: var(--padding-base-quarter) 0;
  text-align: center;
}

.embed-soundcloud__iframe {
  display: block;
}
