.title {
  font-family: var(--font-family-sans);
  text-transform: uppercase;
}

h1.title {
  font-size: var(--font-size-h1);
  margin: 0;
}

h2.title {
  font-size: var(--font-size-h2);
  margin: 0;
}

h3.title {
  font-size: var(--font-size-h3);
  margin: 0;
}

h4.title {
  font-size: var(--font-size-h4);
  margin: 0;
}
