.logo {
  font-size: 0;
  box-sizing: border-box;
  display: block;
}

.logo--header {
  margin: 0 auto;
  max-width: var(--max-width-body);
}

.logo--sidebar {
  display: none;
  grid-area: logo;
}

.logo--header svg {
  height: 32px;
  width: auto;
  display: block;
  margin: var(--padding-size-1) 0;
  fill: var(--color-base-1);
}

.logo--sidebar svg {
  height: 40px;
  width: auto;
  fill: var(--color-base-1);
}

.logo__link {
  display: inline-block;
}

@media (min-width: 1200px) {
  .logo--sidebar {
    display: block;
  }
}