.section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--gap-size-2);
}

.section__title {
  margin: var(--padding-size-4) 0 0 0;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-h2);
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.section__title::after {
  content: '';
  display: block;
  width: var(--width-red-line);
  margin: var(--padding-size-2) auto 0;
  background-color: var(--color-accent-1);
  height: var(--height-line);
}

.section__content {

}

.section__button {
  text-align: center;
}