.audiobook {
  background-color: var(--color-accent-1);
  padding: var(--padding-size-1);
  max-width: var(--max-width-content);
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 0;
}
