.audiobook {
  background-color: var(--color-red);
  padding: var(--padding-size-1);
  max-width: var(--max-width-content);
  width: 100%;
  margin: 0 auto;
  grid-area: audiobook;
  box-sizing: border-box;
}

.audiobook--loaded {
  font-size: 0;
}

.audiobook--missing {
  padding: var(--padding-size-2);
  grid-gap: var(--padding-size-2);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  height: calc(130px + 2 * var(--padding-size-1));
}

.audiobook__icon {
  position: relative;
  width: 48px;
}

.audiobook__icon::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--color-white);
  transform-origin: top left;
  transform: rotate(-45deg) translate(-50%, -50%);
  z-index: 2;
  outline: 4px solid var(--color-red);
  top: 50%;
  left: 50%;
}