.footer {
  grid-area: footer;

  border-top: 2px solid var(--color-base);
  padding-top: var(--gap-size-2);
  display: grid;
  grid-gap: var(--gap-size-2);
  grid-template-areas:
    'logo'
    'copyright'
    'social-media'
    'footermenu';
  align-items: center;
}

.footer a {
  color: var(--color-base);
  transition: color var(--time-animation) ease;
}

.footer a:hover {
  color: var(--color-red);
}

.footer__logo {
  grid-area: logo;
}

.footer__logo svg {
  fill: var(--color-base);
  width: 120px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.footer__copyright {
  grid-area: copyright;
  text-align: center;
}

.footer__menu {
  grid-area: footermenu;
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    grid-template-columns: max-content auto;
    grid-template-rows: max-content auto;
    grid-template-areas: 
      'logo social-media'
      'copyright footermenu';
  }

  .footer__copyright {
    text-align: left;
  }

  .footer__logo svg {
    width: 150px;
    margin: 0;
  }

  .footer__menu {
    text-align: right;
  }
}