.progress-bar {
  width: 0%;
  position: fixed;
  height: var(--height-line);
  top: var(--height-header);
  left: 0;
  z-index: 10;
  background-color: var(--color-accent-1);
  transition: width var(--time-animation) linear;
}

@media (min-width: 1200px) {
  .progress-bar {
    top: 0;
  }
}