body {
  --color-black: black;
  --color-gray: #222;
  --color-white: white;
  --color-sepia: #f9f5e9;
  --color-light-gray: #e6e6e6;
  --color-red: #e2000e;
  --color-gray-transparent-1: rgba(34, 34, 34, 0.8);
  --color-gray-transparent-2: rgba(34, 34, 34, 0.2);
  --color-red-transparent: rgba(226, 0, 14, 0.4);

  --font-family-sans: 'Source Sans Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-family-serif: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
  --font-size-footnotes: 13px;
  --font-size-base: 16px;
  --font-size-h4: 20px;
  --font-size-h3: 26px;
  --font-size-h2: 33px;
  --font-size-h1: 42px;

  --text-indent-content: 32px;
  --line-height-content: 1.6875em;
  --margin-paragraph-content: 0.5em 0;

  --max-width-body: 900px;
  --max-width-content: 600px;

  --gap-size-1: 8px;
  --gap-size-2: 16px;

  --padding-size-1: 8px;
  --padding-size-2: 16px;
  --padding-size-3: 24px;
  --padding-size-4: 32px;

  --height-header: 48px;
  --height-line: 4px;

  --width-red-line: 48px;
  --width-drawer: 300px;

  --position-drawer: calc(-1 * var(--width-drawer));

  --border-button: 2px solid var(--color-red);

  --time-animation: 0.33s;
}

@media (min-width: 768px) {
  body {
    --gap-size-1: 16px;
    --gap-size-2: 32px;
  }
}
