.footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: calc(100% - var(--padding-base));
  max-width: var(--max-width-body-without-margins);
  margin: var(--padding-base-half) auto;
  border-top: var(--height-red-line) solid var(--color-base);
  padding-top: var(--padding-base-quarter);
  text-align: center;
}

.footer > * {
  margin: var(--padding-base-quarter) 0;
}

.footer__logo-wrapper {
  display: block;
}

.footer__logo {
  width: 55px;
  height: auto;
  display: block;
}

@media (min-width: 480px) {
  .footer {
    flex-flow: row wrap;
    padding-top: var(--padding-base-quarter);
  }

  .footer__copyright {
    margin-right: auto;
  }

  .footer__logo-wrapper {
    margin-left: auto;
  }
}
