.body-wrapper {
  max-width: var(--max-width-body-without-margins);
  width: calc(100% - var(--padding-base));
  margin: calc(var(--menu-size) + var(--padding-base-half)) auto 0;
}

@media (min-width: 848px) {
  .body-wrapper {
    margin: 0 auto;
  }
}
