.front-page-posts {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(1, var(--grid-column-template-tile-big));
  justify-content: center;
  margin: var(--padding-base-half) 0;
}

@media (min-width: 640px) {
  .front-page-posts {
    grid-template-columns: repeat(2, var(--grid-column-template-tile-big));
  }
}
