/** Default scheme */
body {
  --color-contra-1: var(--color-white);
  --color-contra-2: #f2f2f2;
  --color-contra-3: #e5e5e5;
  --color-base-1: var(--color-black);
  --color-accent-1: var(--color-red);
}

@media (prefers-color-scheme: light) {
  body {
    --color-contra-1: var(--color-white);
    --color-contra-2: #f2f2f2;
    --color-contra-3: #e5e5e5;
    --color-base-1: var(--color-black);
    --color-accent-1: var(--color-red);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --color-contra-1: var(--color-gray);
    --color-contra-2: #2d2d2d;
    --color-contra-3: #383838;
    --color-base-1: var(--color-white);
    --color-accent-1: var(--color-red);
  }
}

body[data-color-schema='light'] {
  --color-contra-1: var(--color-white);
  --color-contra-2: #f2f2f2;
  --color-contra-3: #e5e5e5;
  --color-base-1: var(--color-black);
  --color-accent-1: var(--color-red);
}

body[data-color-schema='dark'] {
  --color-contra-1: var(--color-gray);
  --color-contra-2: #2d2d2d;
  --color-contra-3: #383838;
  --color-base-1: var(--color-white);
  --color-accent-1: var(--color-red);
}

body[data-color-schema='sepia'] {
  --color-contra-1: var(--color-sepia);
  --color-contra-2: #f3ecd6;
  --color-contra-3: #eee3c3;
  --color-base-1: var(--color-gray);
  --color-accent-1: var(--color-red);
}

body[data-color-schema='gray'] {
  --color-contra-1: var(--color-light-gray);
  --color-contra-2: #dadada;
  --color-contra-3: #cfcfcf;
  --color-base-1: var(--color-gray);
  --color-accent-1: var(--color-red);
}